@import "tailwindcss";
@import "tw-animate-css";


@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-badge-red: var(--badge-red);
  --color-badge-red-foreground: var(--badge-red-foreground);
  --color-badge-blue: var(--badge-blue);
  --color-badge-blue-foreground: var(--badge-blue-foreground);
  --color-badge-purple: var(--badge-purple);
  --color-badge-purple-foreground: var(--badge-purple-foreground);
  --color-badge-green: var(--badge-green);
  --color-badge-green-foreground: var(--badge-green-foreground);
  --color-action: var(--action);
  --color-action-accent: var(--action-accent);
  --color-highlight-yellow: var(--highlight-yellow);
  --color-highlight-red: var(--highlight-red);
  --color-highlight-blue: var(--highlight-blue);
  --color-highlight-purple: var(--highlight-purple);
  --color-highlight-green: var(--highlight-green);
}

:root {
  --radius: 0.625rem;
  --background: hsl(0 0% 100%);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
  --action: hsl(220, 82%, 55%);
  --action-accent: hsl(220, 82%, 45%);
  /* badge colors */
  --badge-red: hsl(5, 54%, 58%);
  --badge-red-foreground: hsl(4, 79%, 96%);
  --badge-blue: hsl(205, 85%, 49%);
  --badge-blue-foreground: hsl(209, 78%, 95%);
  --badge-purple: hsl(255, 71%, 56%);
  --badge-purple-foreground: hsl(254, 100%, 96%);
  --badge-green: hsl(136, 45%, 49%);
  --badge-green-foreground: hsl(134, 71%, 93%);
  /*Highlight colors*/
  --highlight-yellow: hsl(47, 96%, 80%);
  --highlight-red: hsl(10, 89%, 82%);
  --highlight-blue: hsl(207, 83%, 80%);
  --highlight-purple: hsl(255, 85%, 84%);
  --highlight-green: hsl(151, 67%, 82%);
}

.dark {
  --background: hsl(240, 4%, 11%);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
  --action: hsl(220, 82%, 55%);
  --action-accent: hsl(220, 82%, 45%);
  /* badge colors */
  --badge-red: hsl(5, 57%, 63%);
  --badge-red-foreground: hsl(10, 23%, 15%);
  --badge-blue: hsl(208, 100%, 59%);
  --badge-blue-foreground: hsl(209, 44%, 14%);
  --badge-purple: hsl(256, 84%, 69%);
  --badge-purple-foreground: hsl(255, 31%, 15%);
  --badge-green: hsl(135, 58%, 49%);
  --badge-green-foreground: hsl(134, 18%, 14%);
  /*Highlight colors*/
  --highlight-yellow: hsl(46, 56%, 22%);
  --highlight-red: hsl(9, 59%, 29%);
  --highlight-blue: hsl(206, 55%, 30%);
  --highlight-purple: hsl(255, 42%, 31%);
  --highlight-green: hsl(148, 36%, 23%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}


/* Basic editor styles */
.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  /* Code and preformatted text styles */
  code {
    background-color: var(--accent);
    border-radius: 0.4rem;
    color: var(--accent-foreground);
    font-size: 0.95rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  blockquote {
    border-left: 3px solid var(--gray-3);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid var(--gray-2);
    margin: 2rem 0;
  }
  mark {
    border-radius: 0.2rem;
    box-decoration-break: clone;
  }

 

}